In [3]:
from parser import parse_atomic_data
import pandas as pd

In [5]:
parse_atomic_data("/home/chinmay/Documents/si2_osc_kurucz","/home/chinmay/Projects/GSOC/TARDIS")

In [6]:
df1 = pd.read_hdf("/home/chinmay/Projects/GSOC/TARDIS/atomic_data.h5",key="energyLevels")

In [19]:
df1

,level,g,E(cm^-1),10^15 Hz,eV,Lam(A),ID,ARAD,C4,C6
energyLevels,,,,,,,,,,
0,3s2_3p_2Po[1/2],2.0,0.00,3.95241,16.346,7.585,1,0.000,5.29,7.47
1,3s2_3p_2Po[3/2],4.0,287.24,3.94380,16.310,7.602,2,0.000,5.30,7.46
2,3s_3p2_4Pe[1/2],2.0,42824.29,2.66857,11.036,1.123,3,1.222,5.34,7.49
3,3s_3p2_4Pe[3/2],4.0,42932.62,2.66532,11.023,1.125,4,2.110,5.34,7.49
4,3s_3p2_4Pe[5/2],6.0,43107.91,2.66007,11.001,1.127,5,3.246,5.35,7.49
...,...,...,...,...,...,...,...,...,...,...
152,3s_3p(3Po)4p_4Pe[3/2],4.0,134079.00,0.06718,0.278,4.463,153,1.159,1.50,3.08
153,3s_3p(3Po)4p_4Pe[5/2],6.0,134213.63,0.07122,0.295,4.210,154,1.167,1.50,3.09
154,3s_3p(3Po)4p_4Se[3/2],4.0,134905.28,0.09195,0.380,3.260,155,9.275,9.75,2.77
155,3p3_2Do[5/2],6.0,135297.30,0.10370,0.429,2.891,156,2.437,4.20,1.45
156,3p3_2Do[3/2],4.0,135303.50,0.10389,0.430,2.886,157,2.438,1.39,1.46

In [9]:
df2 = pd.read_hdf("/home/chinmay/Projects/GSOC/TARDIS/atomic_data.h5",key="oscillator_strengths")

In [20]:
df2

,From,To,f,A,Lam(A),i,j,Lam(obs),% Acc
oscillator_strengths,,,,,,,,,
0,3s2_3p_2Po[1/2],3s_3p2_4Pe[1/2],5.741,7.023,2335.123,1,3,NaN,NaN
1,3s2_3p_2Po[1/2],3s_3p2_4Pe[3/2],3.564,2.191,2329.231,1,4,NaN,NaN
2,3s2_3p_2Po[1/2],3s_3p2_2De[3/2],7.638,7.793,1808.013,1,6,NaN,NaN
3,3s2_3p_2Po[1/2],3s2_4s_2Se[1/2],1.279,3.661,1526.707,1,8,NaN,NaN
4,3s2_3p_2Po[1/2],3s_3p2_2Se[1/2],1.062,4.162,1304.370,1,9,NaN,NaN
...,...,...,...,...,...,...,...,...,...
4191,3s_3p(3Po)4p_4Pe[3/2],3p3_2Do[3/2],3.250,3.251,81665.986,153,157,NaN,NaN
4192,3s_3p(3Po)4p_4Pe[5/2],3p3_2Do[5/2],6.605,5.173,92279.015,154,156,NaN,NaN
4193,3s_3p(3Po)4p_4Pe[5/2],3p3_2Do[3/2],4.129,4.907,91754.062,154,157,NaN,NaN
4194,3s_3p(3Po)4p_4Se[3/2],3p3_2Do[5/2],7.673,5.243,2.551,155,156,NaN,NaN
4195,3s_3p(3Po)4p_4Se[3/2],3p3_2Do[3/2],6.744,7.134,2.511,155,157,NaN,NaN